<!DOCTYPE html>
<html ng-app="demoApp">
    <head>
        <meta charset="utf-8">
        <title>More Modular example</title>
        <script src="../scripts/angular.js"></script>
        <script src="../scripts/angular-route.js"></script>
        <script src="../scripts/angular-animate.js"></script>
        <script src="../scripts/directives/my_directives.js"></script>
        <script src="../scripts/app/app.js"></script>
        <script src="../scripts/controllers/root_controller.js"></script>
        <script src="../scripts/controllers/car_list_controller.js"></script>
        <script src="../scripts/factories/car_factory.js"></script>
        <script src="../scripts/factories/car_factory.js"></script>
        <link href="../css/style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <!--placeholder for our views-->
       <!-- <div ng-view ng-amimate:"animate">-->
 
        </div>  
        <div my-first-directive></div>
    </body>
</html>